---
export const prerender = false;
 
import "../styles/global.css";
import Footer from "../components/footer.astro";
import { getCurrentUser } from "../lib/session";
import Header from "../components/Header.astro";
 
const user = await getCurrentUser(Astro.request);
---
 
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<title>BETA-CODE</title>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap" rel="stylesheet">
	</head>
	<body>
		<Header user={user} />
		<h1 class="center-page">Competition starts in:</h1>
		<h1></h1>
		<p class="p-text"> unknown time comming soon</p>
		
		
		<Footer />
	</body>
	
		<script>
			const logoutBtn = document.getElementById('logoutBtn');
			if (logoutBtn) {
				logoutBtn.addEventListener('click', async () => {
					await fetch('/api/user/logout', { method: 'POST' });
					window.location.reload();
				});
			}
		</script>
</html>
