---
import "../styles/global.css";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<title>BETA-CODE</title>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap" rel="stylesheet">
	</head>
	<body>
		<header class="site-header">
			<div class="header-left">
				<img class="logo" src="../pictures/betaiconJustb.webp" alt="Beta-code logo">
				<h1>eta-code</h1>
			</div>
			<nav class="site-nav">
				<a href="">Home</a>
				<a href="/play">Tasks</a>
				<a href="/signup">Sign Up</a>
			</nav>
			
		</header>
		<h1>WELLCOME !</h1>
		<p class="p-text">hei dette er litt tekst for å sjekke fargene </p>
		<a href="/taskPage">Go to</a>
		<div></div>

	
	</body>

</html>
