---
import "../styles/global.css";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<title>BETA-CODE</title>
	
	</head>
	<body>
		<header>
			<h1>Beta-code</h1>
		</header>
		<h1>WELLCOME</h1>
		<p class="p-text">hei dette er litt tekst for å sjekke fargene </p>
		<div></div>

		
		<a href="/play">Go to Playground</a>
	</body>

</html>
