---
import "../styles/global.css";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<title>BETA-CODE</title>
	
	</head>
	<body>
		<header>
			<h1>Beta-code</h1>
		</header>
		
		<div class="container">
			<div class="TaskBox">Box 1</div>
			<div class="TaskBox">Box 2</div>
		</div>
	</body>

</html>
